body {
	height: 100vh;
	animation: animate 100s infinite linear;
	background:
		no-repeat center linear-gradient(to bottom,
			rgba(0, 0, 0, 0.8) 0%,
			rgba(0, 0, 0, 1) 80%),
		repeating-conic-gradient(rgba(0, 0, 0, 0.5) 0% 25%,
			rgba(255, 255, 255, 0.1) 0% 30%) top/10vh 10vh,
		repeating-conic-gradient(rgba(0, 0, 0, 0.2) 0% 25%,
			rgba(255, 255, 255, 0.5) 0% 50%) center/7vh 7vh,
		repeating-conic-gradient(rgba(0, 0, 0, 0.2) 0% 25%,
			rgba(255, 255, 255, 0.5) 0% 40%) center/5vh 5vh,
		repeating-conic-gradient(rgba(0, 0, 0, 0.1) 0% 25%,
			rgba(255, 255, 255, 0.5) 0% 50%) bottom/1vh 1vh;
}

main {
	height: calc(100vh - 60px);
}

.profile {
	background: no-repeat center/80% url('./assets/Me.jpg');
	background-position: center;
	background-size: cover;
	aspect-ratio: 1 / 1;
}

@keyframes animate {

	0% {
		background-position: 0 0;
	}

	100% {
		background-position: 0 100%;
	}
}