@inherits LayoutComponentBase
@inject IStringLocalizer<Localizer> Localizer

<div>
    <header>
        <nav class="bg-light-subtle text-light shadow navbar navbar-expand-lg navbar-light fixed-top">
            <div class="container">
                <span class="navbar-brand">
                    <a class="navbar-brand" href="/">Sebastián Guzmán Morla</a>
                </span>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="me-auto navbar-nav">
                        <a class="nav-link" href="/acerca">@Localizer["LayoutAcerca"]</a>
                        <a class="nav-link" href="/contactame">@Localizer["LayoutContactame"]</a>
                    </div>
                    <CultureSelector />
                </div>
            </div>
        </nav>
    </header>

    <main class="position-fixed bottom-0 overflow-scroll w-100">
        @Body
    </main>

    <footer class="bg-light-subtle text-light shadow navbar navbar-expand-lg navbar-light fixed-bottom">
        <div class="container px-5">
            <div class="me-auto small m-0">&copy; @DateTime.Now.Year</div>
            <div class="ms-auto small m-0">
                <span>@Localizer["LayoutDesarrollado"]</span>
                <a class="link-light" href="https://dotnet.microsoft.com/es-es/apps/aspnet/web-apps/blazor" target="_blank">Blazor Webassembly</a>
            </div>
        </div>
    </footer>
</div>