@page "/Acerca"

<PageTitle>Sebastián Guzmán Morla - Acerca de mi</PageTitle>

<div class="my-5 container">
    <section>
        <h1 class="text-center">Acerca de mi</h1>
        <div class="mt-5 row">
            <div class="p-2 col-md-6">
                <div class="shadow card">
                    <div class="card-header">
                        <h2>Resumen</h2>
                    </div>
                    <div class="bg-light-subtle text-light card-body">
                        <div class="row">
                            <div class="col-md-4 col-sm">
                                <h5>Habilidades Destacadas</h5>
                            </div>
                            <div class="col-md-8 col-sm">
                                <div class="shadow list-group">
                                    <div class="text-bg-secondary list-group-item">Desarrollo de aplicaciones web en
                                        PHP, Java y .NET Core</div>
                                    <div class="text-bg-secondary list-group-item">Administración y desarrollo back-end
                                        API en .NET Core</div>
                                    <div class="text-bg-secondary list-group-item">Desarrollo de aplicaciones móviles en
                                        Xamarin y .NET MAUI</div>
                                    <div class="text-bg-secondary list-group-item">Desarrollo DevOps y Continuous
                                        Integration</div>
                                    <div class="text-bg-secondary list-group-item">Métodos ágiles y enfoques iterativos
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-4 col-sm">
                                <h5>Idiomas</h5>
                            </div>
                            <div class="col-md-8 col-sm">
                                <div class="shadow list-group">
                                    <div class="text-bg-secondary list-group-item">Inglés (Full Professional)</div>
                                    <div class="text-bg-secondary list-group-item">Español (Native or Bilingual)</div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-4 col-sm">
                                <h5>Certificaciones</h5>
                            </div>
                            <div class="col-md-8 col-sm">
                                <div class="shadow list-group">
                                    <div class="text-bg-secondary list-group-item"><a class="link-light"
                                            href="https://www.efset.org/cert/hwWvG2">EFSET English Certificate 75/100
                                            (C2 Proficient)</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-2 col-md-6">
                <div class="shadow card">
                    <div class="card-header">
                        <h2>Experiencia Profesional</h2>
                    </div>
                    <div class="bg-light-subtle text-light card-body">
                        <div class="row">
                            <div class="col-md-4 col-sm">
                                <h5>Software Developer en VT Systems</h5><span
                                    class="my-2 bg-secondary shadow w-100 badge bg-primary">mar. 2012 <br>oct. 2023
                                    <br>11 años 8 meses</span>
                            </div>
                            <div class="col-md-8 col-sm">
                                <div class="shadow list-group">
                                    <div class="text-bg-secondary list-group-item">Desarrollador de aplicaciones web en
                                        PHP, Java, .NET Core (MVC con Razor o Blazor), WCF (Windows Communication
                                        Foundation)</div>
                                    <div class="text-bg-secondary list-group-item">Desarrollador de aplicaciones de
                                        escritorio en Windows Forms, WPF (Windows Presentation Foundation) y .NET MAUI
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-4 col-sm">
                                <h5>Mobile Application Developer en VT Systems</h5><span
                                    class="my-2 bg-secondary shadow w-100 badge bg-primary">mar. 2020 <br>oct. 2023
                                    <br>3 años 8 meses</span>
                            </div>
                            <div class="col-md-8 col-sm">
                                <div class="shadow list-group">
                                    <div class="text-bg-secondary list-group-item">Diseñador Líder de arquitectura de
                                        software para back-end API y aplicaciones móviles.</div>
                                    <div class="text-bg-secondary list-group-item">Administrador y desarrollador
                                        back-end API en .NET Core.</div>
                                    <div class="text-bg-secondary list-group-item">Administrador y desarrollador de
                                        aplicaciones móviles híbridas (Android e iOS) en Xamarin y .NET MAUI.</div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-4 col-sm">
                                <h5>DevOps Developer en VT Systems</h5><span
                                    class="my-2 bg-secondary shadow w-100 badge bg-primary">ene. 2021 <br>oct. 2023
                                    <br>2 años 10 meses</span>
                            </div>
                            <div class="col-md-8 col-sm">
                                <div class="shadow list-group">
                                    <div class="text-bg-secondary list-group-item">Líder implementador y administrador
                                        del servidor de automatización para integración continua Jenkins</div>
                                    <div class="text-bg-secondary list-group-item">Configuración de Webhooks en
                                        Bitbucket y GitHub para ejecución de tareas en Jenkins</div>
                                    <div class="text-bg-secondary list-group-item">Desarrollador de archivos Jenkinsfile
                                        para implementación de pipeline y compilación de proyectos</div>
                                    <div class="text-bg-secondary list-group-item">Implementador de Máquinas Virtuales o
                                        físicas con Windows Server o Linux para hospedar aplicaciones</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>