@page "/Contactame"

<PageTitle>Sebastián Guzmán Morla - Contáctame</PageTitle>

<div class="my-5 text-center container">
    <section>
        <h1>Contáctame</h1>
        <div class="mt-5">
            <p>Estoy entusiasmado para tener nuevos desafíos y oportunidades para seguir creciendo profesionalmente.</p>
            <p>Conéctate conmigo en:</p>
            <div class="d-flex justify-content-center">
                <div class="list-group">
                    <div class="list-group-item">
                        <a class="link-light" href="https://github.com/Resume/" style="text-decoration: none;" target="_blank">
                            <img src="./assets/GitHub_Mark_White.png" alt="GitHub" height="28">
                            <span class="ms-2">GitHub</span>
                        </a>
                    </div>
                    <div class="list-group-item">
                        <a class="link-light" href="https://www.linkedin.com/in/sebastián-guzmán-morla-083220a5/" style="text-decoration: none;" target="_blank">
                            <img src="./assets/LinkedIn_Mark_White.png" alt="LinkedIn" height="28">
                            <span class="ms-1">LinkedIn</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>