@page "/"

<PageTitle>Sebastián Guzmán Morla</PageTitle>

<div class="my-5 text-center container">
    <section>
        <div class="row">
            <div class="col-lg-9 col-md">
                <h1>¡Hola, soy Sebastián Guzmán Morla!<br>👋</h1>
                <p class="lead text-body-secondary mt-5">
                    Soy un apasionado Desarrollador de Software con más de 11 años
                    de experiencia en el campo, mi enfoque proactivo y autodidacta me ha permitido adaptarme a las
                    distintas necesidades del mercado del desarrollo de software.
                </p>
            </div>
            <div class="p-3 col-lg-3 col-md">
                <div class="rounded-circle profile shadow w-100"></div>
            </div>
        </div>
    </section>
</div>

<div class="my-5 container">
    <section>
        <h3 class="mb-3">Tecnologías Principales</h3>
        <div class="row">
            @foreach (Model.Tecnologia Item in Tecnologias)
            {
                <Tecnologia Item="@Item"/>
            }
        </div>
    </section>
</div>

@code
{
    private List<Model.Tecnologia> Tecnologias =
    [
        new () { Nombre = "Jenkins", Logo = "./assets/Jenkins.png" },
        new () { Nombre = "Docker", Logo = "./assets/Docker.png" },
        new () { Nombre = "C#", Logo = "./assets/Csharp.png" },
        new () { Nombre = "ASP.NET Core", Logo = "./assets/Dotnet.png" },
        new () { Nombre = "Blazor", Logo = "./assets/Blazor.png" },
        new () { Nombre = ".NET MAUI", Logo = "./assets/Maui.png" },
        new () { Nombre = "PHP", Logo = "./assets/PHP.png" },
        new () { Nombre = "SQL Server", Logo = "./assets/SqlServer.png" },
        new () { Nombre = "MySQL", Logo = "./assets/MySQL.png" },
        new () { Nombre = "Redis", Logo = "./assets/Redis.svg" }
    ];
}