@page "/"

<PageTitle>Sebastián Guzmán Morla</PageTitle>

<div class="my-5 text-center container">
    <section>
        <div class="row">
            <div class="col-lg-9 col-md">
                <h1>¡Hola, soy Sebastián Guzmán Morla!<br>👋</h1>
                <p class="lead text-body-secondary mt-5">Soy un apasionado Desarrollador de Software con más de 11 años
                    de experiencia en el campo, mi enfoque proactivo y autodidacta me ha permitido adaptarme a las
                    distintas necesidades del mercado del desarrollo de software.</p>
            </div>
            <div class="p-3 col-lg-3 col-md">
                <div class="rounded-circle profile shadow w-100"></div>
            </div>
        </div>
    </section>
</div>